body{
    background-color: #ffe8e8;
    
    
}
.col-8{
  padding: 20px;
  border: 1px solid #A9A9A9;
  background-color: white;
}

.modal-header {
   background-color: #F2F2F2;   
    
}

.modal-body{
   background-color: #F2F2F2;    
    
}

.modal-footer{
  background-color: #F2F2F2; 
}

h1{
    text-align: center;
    
}

.btn{
border: 1px solid #A9A9A9;
}

.seemore{
    text-align: end;
}

.col-6{
    padding: 40px;
}
